html, body {
	height: 100%;
}

.home-top {
	padding-top: 1rem;
}

.navbar-brand {
	font-size: 3rem !important;
}

.nav-list {
	float: right;
	font-size: 2rem;
}

.navbar-header {
	background-color: transparent !important;
}

.middle {
	height: 100%;
}

.home-img {
	width: 100%;
	height: 100%;
}

.welcome-text {
	position: relative;
	bottom: 60%;
	text-align: center;
	color: #FFFFFF;
}

.welcome-text h1 {
	margin: 2em;
}

h3 {
	text-align: center;
	color: #337ab7 !important;
}

.primary-business img {
	width: 150px;
	height: 150px;
	float: left;
	display: block;
}

.primary-business p {
	font-size: 3rem;
	line-height: 150px;
	text-indent: 1em;
}

.primary-business .row {
	margin-bottom: 2.5em;
}

.business-1 {
	width: 100%;
	height: 150px;
	background-color: #D9D9D9;
}

.business-2 {
	width: 100%;
	height: 150px;
	background-color: #0070C0;
}

.partner ul {
	padding-bottom: 5em;
}

.partner li {
	float: left;
	font-size: 2rem;
}

.about p {
	text-indent: 2em;
	font-size: 2rem;
	padding-bottom: 3em;
}

.contact img {
	width: 100px;
	height: 70px;
	float: left;
}

.contact p {
	line-height: 70px;
	font-size: 3rem;
}

.contact-direct {
	width: 50%;
	margin: 0 auto;
}